<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <label for="name">Name: <input type="text" name="name" id="name"></label>
        <br>
        <label for="email">Email: <input type="email" name="email" id="email"></label>
        <br>
        <label for="phone">Phone: <input type="text" name="phone" id="phone"></label>
        <br>
        <label for="address">Address: <textarea name="address" id="address" cols="50" rows="30" autocomplete="address"></textarea></label>
        <br>
        <label for="salary">Salary: <input type="number" name="salary" id="salary"></label>
        <br><br>

        <label for="ktp">KTP: <input type="text" name="ktp" id="ktp"></label>
        <br>
        <!-- <label for="ktp-pic">Upload KTP picture: <input type="file" name="ktp-pic" id="ktp-pic"></label>
        <br><br> -->

        <label for="npwp">NPWP: <input type="text" name="npwp" id="npwp"></label>
        <br>
        <!-- <label for="npwp-pic">Upload NPWP picture: <input type="file" name="npwp-pic" id="npwp-pic"></label>
        <br><br> -->

        <!-- <label for="password">Password: <input type="password" name="password" id="password"></label>
        <br>
        <label for="password2">Confirm password: <input type="password2" name="password2" id="password2"></label>
        <br> -->
        <input type="submit" value="REGISTER" class="">
    </form>
</body>
</html>